@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
  }

  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 50px;
  }

  body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

 .mainContainer{
  width: 1200px;
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid blue; */
 } 
  
  button {
    display: inline-block;
    border: none;
    padding: .5rem;
    margin: 0;
    text-decoration: none;
    font-size: .75rem;
    cursor: pointer;
    text-align: center;
}

button:hover,
button:focus {
    background: darkgray;
}

/* HOME PAGE */

.nameLogo {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 5px;
  letter-spacing: 3px;
  margin-top: 3px;
}

.navButton {
  background-color: black;
  color: #ffffff;
  margin-left: 15px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-size: small;
}

.activeR {
  background-color: darkgray;
  color: #ffffff;
  margin-left: 15px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-size: small;
}

.mNavDiv .middleNav {
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

.active {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}

.homeContainer {
  align-self: flex-start;
  margin-top: 15px;
}

.homePhoto {
  height: 1000px;
  width: 1300px;
  background-size: contain;
  background-image: url("images/home.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.homeTag {
  color: white;
  font-size: 4em;
  margin-left: 300px;
  padding-top: 75px;
  text-align: center;
}

.started {
  padding-top: 50px;
  font-size: .5em;
}